*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}
#btn-container{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
 #btn-container button{
    padding: 20px;
    width: 100px;
 }

 .container{
    width: 500px;
    display: flex;
    justify-content: space-around;
    
 }

 #resetGame{
    padding: 20px;
    width: 200px;
 }