*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    background-color: #734f9a;
    color: #1d1a2f;
}

section{
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}

h1{
    text-align: center;
    margin: 15px 0;
}

#btn-container{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
#btn-container button{
    background-color: #3f6d4e;
    transition: transform 0.3s ease;
}
 #btn-container button img{
    padding: 20px;
    width: 100px;
 }

 .container{
    width: 500px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    
 }
 #result, #annouce{
    font-size: 24px;
    padding: 30px;
 }

 #resetGame{
    padding: 20px;
    width: 200px;
    background-color: #3f6d4e;
    transition: transform 0.3s ease;
    font-size: 20px;
 }

 #resetGame:hover, #btn-container button:hover{
    background-color: #8bd450;
    transform: scale(1.15);
 }